.topheader {
  transition: all 0.5s ease-in-out;
  z-index: 1100;

  @include media-breakpoint-up(lg) {
    height: 2.5rem;

    & .shrinked {
      height: 0;
    }
  }

  & a {
    color: $black;
    font-weight: 500;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

.site-navbar {
  transition: all 0.3s ease-in;
  z-index: 1000;

  .site-navcontainer {
    @include media-breakpoint-up(lg) {
      transition: all 0.3s ease-in;
      margin-top: 2.5rem;
      height: 6rem;

      &.shrinked {
        height: 4.5rem;
        margin-top: 0;
      }
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
      outline: 0;
    }
    .navbar-toggler {
      height: 3rem;
      width: 3rem;
      background-color: $primary;
      border-radius: 0;
      padding-left: 0.75rem;
    }
    .navbar-toggler span {
      display: block;
      background-color: $white;
      background-image: none;
      height: 2px;
      width: 1.5rem;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      transform: rotate(0deg);
      position: relative;
      opacity: 1;
    }
    .navbar-toggler span:nth-child(1),
    .navbar-toggler span:nth-child(3) {
      transition: transform 0.35s ease-in-out;
    }
    .navbar-toggler:not(.collapsed) span:nth-child(1) {
      position: absolute;
      top: 1.84rem;
      transform: rotate(-45deg);
      opacity: 0.9;
    }
    .navbar-toggler:not(.collapsed) span:nth-child(2) {
      visibility: hidden;
      background-color: transparent;
    }
    .navbar-toggler:not(.collapsed) span:nth-child(3) {
      position: absolute;
      top: 1.84rem;
      transform: rotate(-135deg);
      opacity: 0.9;
    }
  }
}

.site-menu {
  font-family: muli;
  font-size: medium;
  transition: all 0.3s ease-in-out;

  .active {
    > a {
      color: $primary !important;
    }
  }

  .dropdown-menu {
    border-top: 2px solid $primary;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    .dropdown-item.active {
      background-color: $primary;
    }
  }

  .nav-item,
  .nav-link {
    @include media-breakpoint-up(lg) {
      margin-left: 0.75rem;
    }
  }
}
