.topheader {
  transition: all 0.2s ease-in-out;
  z-index: 910;
  height: 0;

  @include media-breakpoint-up(lg) {
    height: 2.5rem;
  }

  & a {
    color: $black;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

.site-navbar {
  transition: all 0.2s ease-in;
  z-index: 900;
  padding: 0 !important;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

  .site-navcontainer {
    transition: all 0.2s ease-in;
    padding: 0.5rem 0.5rem !important;

    min-height: 4.5rem;

    .navbar-collapse {
      padding: 0.5rem 0.5rem !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
      outline: 0;
    }
    .navbar-toggler {
      height: 3rem;
      width: 3rem;
      background-color: $primary;
      border-radius: 0;
      padding-left: 0.75rem;
    }
    .navbar-toggler span {
      display: block;
      background-color: $white;
      background-image: none;
      height: 2px;
      width: 1.5rem;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      transform: rotate(0deg);
      position: relative;
      opacity: 1;
    }
    .navbar-toggler span:nth-child(1),
    .navbar-toggler span:nth-child(3) {
      transition: transform 0.35s ease-in-out;
    }
    .navbar-toggler:not(.collapsed) span:nth-child(1) {
      position: absolute;
      top: 1.84rem;
      transform: rotate(-45deg);
      opacity: 0.9;
    }
    .navbar-toggler:not(.collapsed) span:nth-child(2) {
      visibility: hidden;
      background-color: transparent;
    }
    .navbar-toggler:not(.collapsed) span:nth-child(3) {
      position: absolute;
      top: 1.84rem;
      transform: rotate(-135deg);
      opacity: 0.9;
    }
  }
}

.site-menu {
  font-family: muli;
  font-size: medium;
  a {
    color: $black;
    text-decoration: none;
  }

  .active {
    > a {
      color: $primary !important;
    }
  }

  .nav-link {
    padding: 0.25rem 0;

    @include media-breakpoint-up(lg) {
      padding: 0.5rem 0;
    }

    .active {
      color: $primary !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .dropdown:hover {
      .dropdown-menu {
        max-height: 300px;
        opacity: 1;
      }
    }
  }

  .dropdown {
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  .dropdown-menu {
    transition: all 0.4s ease-in-out;
    padding: 0;

    @include media-breakpoint-up(lg) {
      padding: 0.5rem 0;
      border-top: 2px solid $primary;
      box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0;
    }

    .dropdown-item {
      font-size: small;
      padding: 0.25rem 0.75rem;

      @include media-breakpoint-up(lg) {
        font-size: medium;
        padding: 0.25rem 1.5rem;
      }

      .active {
        background-color: $primary;
      }
    }
  }

  .nav-item,
  .nav-link {
    @include media-breakpoint-up(lg) {
      margin-left: 0.75rem;
    }
  }
}
